ci:
  skip: [pylint]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-yaml
      - id: check-vcs-permalinks
      - id: check-merge-conflict
      - id: check-json
      - id: check-docstring-first
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: trailing-whitespace
      - id: requirements-txt-fixer
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        args: ["--skip-string-normalization", "--line-length=120"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint
        language: system
        types: [python]
        args: [--rcfile=.pylintrc]
  - repo: https://github.com/pycqa/flake8
    rev: "7.3.0"
    hooks:
      - id: flake8
        types: [python]
        args: [--config=.flake8]
  - repo: https://github.com/pycqa/isort
    rev: "7.0.0"
    hooks:
      - id: isort
        name: isort (python)
        types: [python]
        args: [--settings-file=.isort.cfg]
